<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3">
    <br /><br /><br />
    <!-- <h3 style="margin-left: 1rem">Note details:</h3> -->
    <div class="card card-show" style="width: 18rem">
      <div class="card-body">
        <div class="show-top">
          <div class="show-top-left">
            <h5 class="card-title show-title"><%= note.title %></h5>
            <p class="card-text">by <%= note.owner.email %></p>
          </div>
          <p class="card-text show-tag"><%= note.tag %></p>
        </div>
        <p class="card-text show-description"><%= note.description %></p>
        <div class="show-card-foot">
          <p class="card-text">
            <span>created on</span>
            <%= note.createdAt.toString().split(" ").slice(1, 4).join(" ") %>
            <br />
            <span>at</span> <%= note.createdAt.toString().split(" ").slice(4, 5)
            %>
          </p>
          <p class="card-text">
            <span>updated on</span>
            <%= note.updatedAt.toString().split(" ").slice(1, 4).join(" ") %>
            <br />
            <span>at</span> <%= note.createdAt.toString().split(" ").slice(4, 5)
            %>
          </p>
        </div>

        <% if(user && user._id.equals(note.owner._id)) { %>
        <div class="show-btns">
          <div class="show-card-bottom">
            <a
              href="/notes/<%= note._id %>/edit"
              class="btn btn-dark btn-custom"
              >&nbsp;Edit&nbsp;</a
            >
            <form method="POST" action="/notes/<%= note._id %>?_method=DELETE">
              <button class="btn btn-dark">Delete</button>
            </form>
          </div>
          <% if(note.isPrivate == "on") { %>
          <p>Private</p>
          <% } else { %>
          <p>Public</p>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
